<% include layouts/header %>
<% include layouts/leftbar %>
 <section id="main-content">
	  <section class="wrapper">
	  	 
		  <div class="row">		  	
			  <div class="col-lg-12 main-chart">
			  	<% if (message.length > 0) { %>
		          <div class="alert alert-success"><%= message %></div>
		        <% } %>
				  
					  <h2>Welcome  to freash by transform</h2>

					
					  

				</div><!-- /row -->
				<div class="row mt">
					

				</div>	

			  </div><!-- /col-lg-9 END SECTION MIDDLE -->
              
		  </div>
	  </section>
  </section>
  <% include layouts/footer %>