<% include layouts/header %>
<% include layouts/leftbar %>
<section id="main-content">
	<section class="wrapper">	
	<div class="row">
		<div class="col-md-6"><h3><i class="fa fa-angle-right"></i> Users Management</h3></div>
		<div class="col-md-6" style="margin-top: 20px;"><a href="/admin/edit-user" title="Add New User" class="btn btn-success btn-sm pull-right">Add New User</a>	</div>
	</div>	
	<% if (errors.length > 0) { %>
      <div class="alert alert-danger"><%= errors %></div>
    <% } %>
	<% if (success.length > 0) { %>
      <div class="alert alert-success"><%= success %></div>
    <% } %>
    <p>&nbsp;</p>
	<table id="editable" class="table table-striped table-bordered table-hover  dataTable" role="grid" aria-describedby="editable_info">
		<thead>
			<tr>
				<th>Emails</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Created</th>
				<th>Control</th>
	  		</tr>
		</thead>
		<tr>
		
		<td>dfdsf</td>
		<td>fdsfdfs</td>
		<td>fdsfdsfdsf</td>
		<td>fdsfdfdsf</td>
		<td>Edit/delete</td>
		
		</tr>
   </table>		
</section>
<script type="text/javascript">
function confirmDelete() {
	if(!confirm("Are you sure you want to delete this user")) {
		return false;
	}
	else {
		return true;
	}
}

function addNewUser() {
	location.href="add-admin-user";
	return false;
}

</script>
<% include layouts/footer %>