</section>
  <!-- container section start -->

    <!-- javascripts -->
   
	<script src="/js/jquery-ui-1.10.4.min.js"></script>
    
    <script type="text/javascript" src="/js/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- bootstrap -->
    <script src="/js/bootstrap.min.js"></script>

  <script type="text/javascript" language="javascript" src="/js/media/js/jquery.dataTables.js"></script> 
</body>
</html>